/.HA_VERSION
/.cloud
/.storage
/custom_components
/deps
/home-assistant.log
/home-assistant.log.1
/home-assistant.log.fault
/home-assistant_v2.db
/home-assistant_v2.db-shm
/home-assistant_v2.db-wal
/homematicip_local
/tts
/watchman_report.txt
/www
/zigbee.db
/zigbee.db-shm
/zigbee.db-wal
/secrets.yaml
/notify.yaml
/zigbee2mqtt
/blueprints
/automations.yaml
/configuration.yaml
/scenes.yaml
/scripts.yaml
/secrets.yaml
/dashboard

